Subject: {{ subject }}
From: {{ sender }} <{{ sender_slug }}@{{ company_slug }}.example>
To: {{ recipient }} <{{ recipient_slug }}@{{ dest_domain }}>
Date: {{ date }}
Thread: {{ thread_id }}
Doc-id: {{ artifact_id }}

{{ greeting }}

{{ body }}

{{ closing }}
{{ sender }}
{{ department }}
{{ company }}
